@font-face {
    font-family: 'webfontregular';
    src: url('../fonts/leaguegothic-regular-webfont-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont-webfont.woff2') format('woff2');/*,
         url('leaguegothic-regular-webfont-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont-webfont.svg#webfontregular') format('svg');         Interesting....*/	
    font-weight: normal;
    font-style: normal;

}
#name.headerName>h2{
	font-size:3em;
	font-family:"webfontregular";
	vertical-align: top;
	text-align: center;
	margin-bottom: 0px;
	padding-top:5%;
}
#container{
	text-align:center;
	-ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
	padding-top:0px;
	background: url(../media/background.jpg) no-repeat center center fixed;
}

.header,.header>a{
	text-align:center;
	margin-top:.1em;
	font-family:"webfontregular";
	font-size:1.5em;
	min-width: 5em;
	display:inline-block;
	text-align:center;
	text-justify: distribute-all-lines;
	*display: inline;
	/*fade*/
	color:black;
	background-color:transparent;
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
}
h2>a:hover{
	background-color: white;
	border-radius: 2px;
}
/*makes whole div clickable*/
a.fill-div{
	height:100%;
	width:100%;
    display: block;
}
.link:link{
	color: blue;
}
a:link{
	color:black; 
	background-color:transparent; 
	text-decoration:none;
}
a:visited {
	color:black;
	background-color:transparent; 
	text-decoration:none
}
.section{
	padding-top:2.8rem;
	margin-top:0px;
}
#section1{
	background: url(../media/surf.jpg) center;
	width:100%;
	max-width:3295px;
	background-size:100%;
	
	
	}
.pic{
	background: url(../media/background.jpg) no-repeat center center fixed;
}
#menu{
	text-align:center;
	position:fixed;
	height: 3.3em;
	z-index: 70;
	width: 100%;
}
#section1, #section2, #section3{
	text-align:center;
	font-family:"Lato";
}
#section2 a{
	font-size:3em;
}
.about{
	text-align:left;
	margin-left: 1rem;
	margin-top:0px;
	margin-bottom:1px;
}
#who{
	margin-top:1px;
}
#contact>li, #contact{
	list-style:none;
	padding-left:0px;
}